footer{
    box-sizing: border-box;
    width: 100%;
    height: 250px;

    background-color: var(--cor-principal);

    padding: 30px;
    margin-top: 30px;
}

footer .container{
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    padding: 0 150px;

    div{border: 1px solid red;}
}

footer .container p{
    
}

footer .container p:first-child{
    font-size: 20px;
    margin-bottom: 10px;
}

