header{
    padding: 0;
    margin: 0;
}

#Navigation_bar{
    background-color: #959494;
    padding: 10px;
}

#Platinum_icon{
    width: 50px;
    height: 50px;
}

#Navigation_bar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#Navigation_bar ul li{
    display: inline-block;
    align-self: center;
    border: solid 1px black;
}

#Navigation_bar ul li:nth-child(2){
    display: inline-block;
    align-items: center;


    border: solid 2px red;
}




