header{
    padding: 0;
    margin: 0;
}

header .container{
    display: flex;
    padding: 5px;
    background-color: #959494;
    align-items: center;
    justify-content: space-between ;
}

.menu{
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li a{
    text-decoration: none;
    color: #1E1E1E;
    font-size: 20px;
    font-weight: bold;
}

.menu li a:hover{
    color: #ffffff;
    text-decoration: underline;
}

#buttons{
    display: flex;
    gap: 10px;
}

#buttons button{
    background-color: #1E1E1E;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 15px;
}

#buttons button:hover{
    background-color: #ffffff;
    color: #1E1E1E;
    border: 3px solid #1E1E1E;
}

#buttons button:active{
    background-color: #ffffff;
    color: #1E1E1E;
}

#Platinum_icon{
    justify-self: center;
    width: 50px;
    height: 50px;
}

#banner{
    position: relative;
    width: 100%;
    height: 20vh;

    transition: height 0.5s ease;
}

#banner:hover{
    height: 60vh;
}

#banner::before{
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
            180deg,
            transparent,
            black),
            url("/assets/banner.jpg");

    background-position: center 8%;

    background-size: cover;
}

#banner div{
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    text-align: center;
}

.banner-text h1, .banner-text h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    text-shadow: 3px 3px 4px black;

    margin: 0;
    padding: 0;
}

.banner-text h1{
    font-size: 50px;
    color: var(--cor-principal);
}

.banner-text h3{
    font-size: 22px;
    color: var(--cor-secundaria);

    text-shadow: 1px 1px 10px white;
}



