header{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    padding: 5px;
    background-color: #959494;
    align-items: center;
    justify-content: space-between ;

}

.menu{
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li a{
    text-decoration: none;
    color: #1E1E1E;
    font-size: 20px;
    font-weight: bold;
}

.menu li a:hover{
    color: #ffffff;
    text-decoration: underline;
}

#buttons{
    display: flex;
    gap: 10px;
}

#buttons button{
    background-color: #1E1E1E;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 15px;
}

#buttons button:hover{
    background-color: #ffffff;
    color: #1E1E1E;
    border: 3px solid #1E1E1E;
}

#buttons button:active{
    background-color: #ffffff;
    color: #1E1E1E;
}

#Platinum_icon{
    justify-self: center;
    width: 50px;
    height: 50px;
}

#banner img{
    width: 100%;
    height: 400px;
}



