main{
    background-color: white;
    padding: 30px;
    margin: 30px;

    h3{
            margin-top: 15px;
            margin-bottom: 15px;
    }

    /**{border: solid 1px red;}*/
}

.card{
    width: 320px;
    background: rgba(0,0,0,0.08);
    border: solid 2px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: background 0.3s;

    summary{
        font-size: 20px;
        font-weight: bold;
        list-style: none;
    }

    [open]{
        background: #222;
    }
}

main .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    justify-items: center;

    img{
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }
}
